body {
    width: 45vw;
}

p {
    text-align: justify;
}

table, tr, th, td {
    border: 1px solid black;
    text-align: center;
}

#country {
    text-align: left;
}

#españa {
    font-weight: bold;
}