* {
    margin: 0;
    padding: 0;
}

#wrapper {
    height: 100%;
    width: 100vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url(../assets/penguin.jpg);
    background-position: center;
}

table {
    width: 80%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 2px 2px 1px rgb(0, 0, 0);
}

td {
    background-color: rgb(228, 210, 78);
}

th {
    background-color: white;
}

table, tr, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

#penguin {
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}